<!-- --------------navbar--------------- -->
<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">BookMyShow</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page"  href="/login" (click)="sub()">Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>
        <li class="nav-item dropdown"> 
        </li>
     
      </ul>
          </div>
  </div>
</nav> -->

<!-- -------------------------------------------- -->
<!-- <div class="container">
    <div class="row">
        <div class="col" *ngFor="let item of movieList">
            <div class="card" style="width: 18rem;">
                <img src={{item.path}} class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">{{item.name}}</h5>
                  <p class="card-text">Forever alone in a crowd, failed comedian Arthur Fleck seeks connection as he walks the streets of Gotham City.</p>
                </div>
               
                <div class="card-body">
                  <a routerLink="/seat" class="card-link">Book Ticket</a>
                  
                </div>
              </div>
        </div> -->
        <!-- ---------------------------------------------------------------- -->
        <!-- <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="assets/img/25.webp" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">DUNE</h5>
                  <p class="card-text">Paul Atreides arrives on Arrakis after his father accepts the stewardship of the dangerous planet. However, chaos ensues after a betrayal as forces clash to control melange.</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><B>Rating:</B> 8.1</li>
                  <li class="list-group-item"> <b>Genere:</b> Sci-Fi,Fantasy</li>
                  <li class="list-group-item"><b>Duration:</b> 128 Mins</li>
                </ul>
                <div class="card-body">
                  <a routerLink="/seatb" class="card-link">Buy Tickets</a>
                  
                </div>
              </div>
        </div> -->
        <!-- <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="assets/img/12.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">PHANTOM</h5>
                  <p class="card-text">Daniyal, a disgraced Indian soldier, and Nawaz, who works for an American security agency, face many trials and tribulations while they go on a dangerous mission to kill 26/11 suspects.</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><B>Rating:</B> 7.8</li>
                  <li class="list-group-item"> <b>Genere:</b> Action</li>
                  <li class="list-group-item"><b>Duration:</b> 135 Mins</li>
                </ul>
                <div class="card-body">
                  <a routerLink="/seatc" class="card-link">Buy Tickets</a>
                  
                </div>
              </div>
        </div> -->


        <nav class="navbar navbar-expand-lg bg-body-tertiary">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">BookMyShow</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page"  href="/login" (click)="sub()">Logout</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#"></a>
                </li>
                <li class="nav-item dropdown"> 
                </li>
             
              </ul>
                  </div>
          </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col" *ngFor="let item of movieList">
                    <div class="card" style="width: 18rem;">
                        <img src={{item.path}} class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">{{item.name}}</h5>
                          <p class="card-text">Forever alone in a crowd, failed comedian Arthur Fleck seeks connection as he walks the streets of Gotham City.</p>
                        </div>
                       
                        <div class="card-body">
                          <a routerLink="/seat" class="card-link">Book Ticket</a>
                          
                        </div>
                      </div>
                </div>
        
        