<app-navbar></app-navbar>
<body>
   <div class="navbar">
     
     </div>
   <div class="center">
     <h1>Register</h1>
     <form method="post">
       <div class="txt_field">
        <input type="text" [(ngModel)]="name" [ngModelOptions]="{standalone: true}"  id="stname" >
         <span></span>
         <label>Name</label>
       </div>
       <div class="txt_field">
        <input type="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}"  id="course" >
        <span></span>
        <label>UserName</label>
      </div>
       <div class="txt_field">
        <input type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}"  id="fee" >
         <span></span>
         <label>Password</label>
       </div>
       
       
       
       <input type="submit" value="Sign Up" (click)="save()" >
       <div class="signup_link">
        Already a member? <a href="javascript:void(0);" routerLink="/login">Login</a>
      
       </div>
     </form>
     
   
   </div>

 </body>
